<div class="container">
  <div *ngFor="let month of months" [ngClass]="[month.name, 'single-month']">
    <p class="month-title">{{month.name}}</p>
    <div class="days-names">
      <p>pon</p>
      <p>wt</p>
      <p>śr</p>
      <p>czw</p>
      <p>pt</p>
      <p>sb</p>
      <p>nd</p>
    </div>
    <div class="day-squares">
      <div *ngFor="let square of counter(month.days); let i = index" class="single-square">
        <div [ngClass]="['day-number-'+(i+1), 'square-text']" class="square-text">
          {{i+1}}
            <ng-container *ngFor="let task of month.tasks">
              <div *ngIf="task.dzien == i+1" class="dot">
                <div class="tooltip">
                  {{task.nazwa}}
                </div>
              </div>
            </ng-container>
            <div class="add-task" (click)="openClosePopup()">
              +
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="add-task-popup">
  <div class="content">
    <h2>Dodaj wydarzenie</h2>
    <div class="form">
      <p>Nazwa:</p>
      <input type="text">
      <button (click)="addTaskToDatabase()">Dodaj</button>
    </div>
    <div class="close" (click)="openClosePopup()">x</div>
  </div>
</div>
